{% extends "layout.html" %}
{% load static %}

{% block title %}Games World{% endblock %}
{% block extra_css %}<link rel="stylesheet" href="{% static 'assets/css/games.css' %}">{% endblock %}

{% block welcome-image %}
{% endblock %}

{% block content %}
<article class="games">
				<section class="left-side">
					<form class="filters" method="post" action="{% url 'games' %}">

						{% csrf_token %}

						<div class="filter-group">
							{% for platform in platforms %}
							<label for="{{ platform }}" class="checkbox-label">
								<div class="checkbox-wrapper-2">
									<input
										type="checkbox"
										id="{{ platform }}"
										name = "platforms[]"
										value="{{ platform }}"
										class="sc-gJwTLC ikxBAC"
									/>{{platform}}
								</div>
							</label>
							{% endfor %}
						</div>

						<div class="filter-group">
							{% for genre in genres %}
							<label for="{{ genre.name }}" class="checkbox-label">
								<div class="checkbox-wrapper-2">
									<input
										type="checkbox"
										id="{{ genre.name }}"
										name = "genres[]"
										value="{{ genre.name }}"
										class="sc-gJwTLC ikxBAC"
									/>{{ genre.name }}
								</div>
							</label>
							{% endfor %}
						</div>

					<form method="get" action ="{% url 'sort_by_scroll' %}">
						<div class="filter-group">
							<label for="{{ price }}" class="price-label"
								>Price Range
								<div class="price-range-wrapper">
									<span class="price-range-text">0</span>
									<input
										type="range"
										id="{{ price }}"
										class="filter-range"
										min="{{ min_price }}"
										max="{{ max_price }}"
										value="{{ request.GET.max_price }}"
										onchange="document.getElementById('price').innerText = this.form.submit()"
										step="1"
									/>{{ request.GET.max_price }}
									<span class="price-range-text">50</span>
								</div>
							</label>
						</div>
					</form>

						<button type="submit" class="button-49">Apply Filters</button>
					</form>
				</section>

				<section class="right-side">
					<h1 class="games-title">Games</h1>

					<form method="get" action="{% url 'sort_by' %}">
						<div class="sort-options">
							<label for="sort" class="sort-label">Sort by:</label>
							<select id="sort" class="sort-select" name="sort_by" onchange="this.form.submit()">
								<option value="popularity">Popularity</option>
								<option value="rating">Rating</option>
								<option value="release-date">Release Date</option>
							</select>
						</div>
					</form>

					<div class="games-list">
						{% for game in games %}
						<a class="game-card" href="	{% url 'game_detail' game.id %}">
							<img
								src="{{game.image.url}}"
								class="game-image"
							/>
							<span class="game-title">{{game.title}}</span>
						</a>
						{% endfor %}
					</div>
				</section>
			</article>
{% endblock %}