{% extends "layout.html" %}
{% load static %}

{% block title %}Games World{% endblock %}
{% block extra_css %}<link rel="stylesheet" href="{% static 'assets/css/game.css' %}">{% endblock %}

{% block welcome-image %}
{% endblock %}

{% block content %}
    <article class="game-main-data-container">
            <h1 class="game-name">{{ game.title }}</h1>
            <section class="game-main-data">
                <video class="game-video" controls autoplay muted>
                    <source src="{{ game.video.url }}" type="video/webm">
                </video>

                <div class="game-main-info">
                    <img class="game-img" src="{{ game.image.url }}"/>
                    <p class="game-short-info">{{ game.description }}</p>
                    <p class="game-release-date">{{ game.release_date }}</p>
                    <p class="game-developer">{{ game.developer.website }}{{ game.developer.name }}</p>
                </div>
            </section>
        </article>

        <article class="buy-game-container">
            {% for sell_item in sell_items %}
            <section class="buy-option">
                <span class="game-name">{{ game.title }}</span>
                <span class="seller">{{ sell_item.seller.name }}</span>
                <span class="price">{{ sell_item.price }}</span>
                <a class="buy-btn" href="#"><img src="{% static 'assets/images/buy.svg' %}"/></a>
            </section>
            {% endfor %}
        </article>

        <span class="game-desc-title">{{ game.title }}</span>

        <article class="game-sub-data-container">
            {{ game.description }}
        </article>

        <span class="game-story-title">{{ game.story }}</span>
        <span class="game-story-desc-title">
            {{ game.story }}
        </span>

        <span class="game-story-title">System Characteristics:</span>

        <table class="characteristics-table">
			
		</table>

        <table class="characteristics-table">
            <tr>
<th></th>
<th>Mininal</th>
<th>Optimal</th>
</tr>

<tr>
<td class="characteristic">OS</td>
<td>{{ game.min_requirements.os }}</td>
<td>{{ game.optimal_requirements.os }}</td>
</tr>

<tr>
<td class="characteristic">Processor</td>
<td>{{ game.min_requirements.processor }}</td>
<td>{{ game.optimal_requirements.processor }}</td>
</tr>

<tr>
<td class="characteristic">Operation drive</td>
<td>{{ game.min_requirements.ram }}</td>
<th>{{ game.optimal_requirements.ram }}</th>
</tr>

<tr>
<td class="characteristic">Videocard</td>
<td>{{ game.min_requirements.video_card }}</td>
<td>{{ game.optimal_requirements.video_card }}</td>
</tr>
        </table>

        <article class="reviews-container">
            <span class="type-title">Type your rate here:</span>
            <form class="rate-form">
				<label class="rate-label-column"
					>
					<textarea class="rate-your">...</textarea
					>
				</label>

				<input type="submit" class="submit-button" value="Save" />
			</form>


            <div class="swiper reviews">
                <div class="swiper-wrapper">
                    {% for review in reviews %}
                    <div class="swiper-slide">
                        <div class="slide-content">
                            <img src="{{ review.user.image.url }}" alt="User Icon" />
                            <span class="name">{{ review.user.name }}</span>
                            <span class="text">{{ review.comment }}</span>
                            <div class="footer-review">
                                <span class="date">{{ review.created_at }}</span>
                                <span class="score">{{ review.rating }}/5</span>
                            </div>
                        </div>
                    </div>
                   {% endfor %}
                </div>
            </div>
        </article>
{% endblock %}

{% block extra_js %}
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
        var swiper = new Swiper(".reviews", {
            slidesPerView: "auto",
            centeredSlides: true,
            spaceBetween: 50,
            pagination: {
                el: ".swiper-pagination",
                clicable: true,
            }
        });
    </script>
{% endblock %}